/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  overflow-x: hidden;
} */

.webgl {
  /* position: absolute;
  top:0;
  left:0;
  z-index: 1; */
}

/* nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left:  50%;
  top: 80%;
  transform: translate(-50%, -75%);
} */


@font-face {
  font-family: 'matesc';
  src: url('./fonts/MateSC-Regular.ttf') format('truetype');
}

.black{
  background-color: black;
  
}

.title{
  /* text-decoration: underline; */
  padding-bottom: 20px;
  font-family: matesc;
  font-size: 50px;
  font-weight: 400;
  color:  white;
  line-height: normal;
}

.first-paragragh{
  font-size: 17px;
  /* border-radius: 50px; */
  /* border: solid rgb(177, 177, 177) 1px; */
}

.vnb__menu-options__option__link{
  color: white;
  font-size: 14px;
}

.nav-title{
  font-size: 25px;
  font-family: matesc;
}
.teal{
  background-color: #e5e8e5;
}

.vbn{
  display: grid;
  justify-content: center;
}

#main-navbar{
  display: grid;
  justify-content: center;
  padding-top: 0
}

.leonImg{
  height: 380px;
  width: 380px;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}


.fancy{
  font-family: matesc;
  font-size: 50px;
  font-weight: 400;
}
.home-button{
  background-color: rgb(238, 238, 238);
  font-family: matesc;
  font-size: 25px;
  font-weight: 500;
}

.gray-bg {
  background-color: rgb(240, 240, 240);
  border: solid rgb(196, 196, 196) 1px;
}
body{
  display: contents;
}

.myCard{
  border: solid black 1px; 

  border-radius: 1rem;
}
.matesc {
  font-family: matesc;
}

.fade-in-image { animation: fadeIn 2s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}